.lesson_container {
	width: 100%;
}
.lesson_mainBg {
	width: 100%;
	height: 120px;
	background-color: #ebebeb;
}
.lesson_mainPic {
	width: 100%;
	height: 280px;
	display: table;
	text-align: center;
	background: url(../images/lesson/PHC-lesson_banner.jpg) center no-repeat;
}
.lesson_mainPic > div {
	display: table-cell;
	vertical-align: middle;
}
.lesson_mainPic .hrStyle {
	margin: 34px auto;
}
.lesson_content {
	padding: 50px 0;
}
.lesson_content_wrap {
	width: 80%;
	margin: 0 auto;
}
.lesson_LeftMenuBar, .lesson_RightMenuBar {
	display: inline-block;
}
.lesson_LeftMenuBar {
	width: 15%;
	float: left;
	padding: 0 40px 0 0;
	box-sizing: border-box;
}
.lesson_RightMenuBar {
	width: 85%;
	float: right;
	border-left: 2px solid rgba(149,149,149,1);
	box-sizing: border-box;
	padding: 0 0 0 85px;
}
.lesson_linkText {
	font-size: 28px;
	cursor: pointer;
	margin: 0 0 30px 0;
}
.lessonIntroduce.over {
	color: rgb(221,169,105);
}
.lesson_type {
	display: inline-block;
	width: 50%;
	min-height: 580px;
	float: left;
	box-sizing: border-box;
}
.lesson_type:nth-child(odd) {
	padding: 0 10px 0 0;
}
.lesson_type:nth-child(even) {
	padding: 0 0 0 10px;
}
.lesson_type > img {
	display: block;
	width: 100%;
	/*max-width: 594px;*/
	height: auto;
	margin: 0 0 20px 0;
}
.lesson_type_title {
	font-size: 26px;
	font-weight: 700;
	padding: 0 0 30px 0;
}
.lesson_type_content {
	font-size: 22px;
	padding: 0 0 30px 0;
}
.lesson_class_info {
	overflow: auto;
}
.lesson_class {
	display: table;
	text-align: center;
	vertical-align: middle;
	margin: 0 0 40px;
	width: 100%;
}
.lesson_class > div {
	display: table-row;
	font-size: 18px;
}
.lesson_class > div:first-child {
	font-size: 22px;
	font-weight: 700;
}
.lesson_class > div > div {
	display: table-cell;
	width: 12.5%;	
	min-width: 120px;
	padding: 20px 10px;
	border: 5px solid #fff;
	box-sizing: border-box;
}
.lesson_class > div:nth-child(4) > div:first-child {
	border-bottom: none;
}
.lesson_class > div:nth-child(5) > div:first-child {
	border-top: none;
}
.lesson_class a {
	color: #464646;
	text-decoration: underline;
}
.lesson_class > div > div.classDanceBL {
	background-color: #bad8ea;
}
.lesson_class > div > div.classDance {
	background-color: #f8dadf;
}
.lesson_class > div > div.classNone {
	background-color: #dadada;
}
.lesson_class > div > div.classDate {
	background-color: #555;
	color: #fff;
}
.lesson_class > div > div.classDanceAD {
	background-color: #f8e0a4;
}
.lesson_class > div > div.classBaby {
	background-color: #e2c7e6;
}
.lesson_class > div > div.classChildDG {
	background-color: #a6e5d8;
}
.lesson_class > div > div.classTime {
	background-color: #555;
	color: #fff;
}
.lesson_class > div > div.classChildModern {
	background-color: #bad8ea;
}

@media screen and (max-width: 1024px) {
.lesson_content_wrap {
	width: 90%;
}
.lesson_type {
	display: block;
	width: 100%;
	min-height: 200px;
	float: none;
	margin: 0 0 40px 0;
}
.lesson_type:nth-child(odd) {
	padding: 0;
}
.lesson_type:nth-child(even) {
	padding: 0;
}
.lesson_LeftMenuBar {
	padding: 0 20px 0 0;
}
.lesson_RightMenuBar {
	padding: 0 0 0 40px;
}
.lesson_class > div > div {
	padding: 10px 10px;
}
}

@media screen and (max-width: 768px) {
.lesson_mainBg{
display:none;
}
.lesson_LeftMenuBar, .lesson_RightMenuBar {
	display: block;
	width: 100%;
	float: none;
}
.lesson_LeftMenuBar {
	width: 100%!important;
	display: table;
	padding: 0 0 20px 0;
	border-bottom: 2px solid #ebebeb;
}
.lesson_RightMenuBar {
	border-left: none;
	padding: 40px 0 0;
	clear: both;
}
.lessonIntroduce {
	display: table-cell;
	width: 50%;
}
.lesson_linkText {
	text-align: center;
	margin: 0;
}
}

@media screen and (max-width: 414px) {
.lesson_class {
	margin: 0 0 20px;
}
.lesson_class > div {
	font-size: 16px;
}
.lesson_class > div > div {
	border: 2px solid #fff;
}
}
